<script type="text/template" id="pokemon-list-item-template">
  <li class="poke-list-item" data-id="<%%= pokemon.get('id') %>">
    <strong>Name: </strong><%%= pokemon.escape("name") %><br>
    <strong>Type: </strong><%%= pokemon.escape("poke_type") %>
  </li>
</script>

<script type="text/template" id="pokemon-detail-template">
  <section class="detail">
    <img src="<%%= pokemon.escape('image_url') %>"><br>
    <strong><%%= pokemon.escape("name") %></strong><br><br>
    <strong>TYPE: </strong><%%= pokemon.escape("poke_type") %><br><br>
    <strong>ATK: </strong><%%= pokemon.escape("attack") %><br>
    <strong>DEF: </strong><%%= pokemon.escape("defense") %><br><br>
    <strong>MOVES: </strong><br>
    <%% var $moveSet = pokemon.escape("moves").split(","); %>
    <%% $moveSet.forEach(function(move){ %>
      <br> <%%= move %>
    <%% }) %>
  </section>
  <strong>Toys</strong><br>
  <ul class="toys"></ul>
</script>

<script type="text/template" id="toy-list-item-template">
  <li class="toy-list-item" data-id="<%%= toy.get('id') %>"
      data-pokemon-id="<%%= toy.get('pokemon_id') %>">
    Name: <%%= toy.escape("name") %><br>
    Happiness: <%%= toy.escape("happiness") %><br>
    Price: <%%= toy.escape("price") %>
  </li>
</script>

<script type="text/template" id="toy-detail-template">
  <section class="detail">
    <img src="<%%= toy.escape('image_url') %>"><br>
    Name: <%%= toy.escape("name") %><br>
    Happiness: <%%= toy.escape("happiness") %><br>
    Price: <%%= toy.escape("price") %>
  </section>
  <select data-pokemon-id="<%%= toy.get('pokemon_id') %>"
          data-toy-id="<%%= toy.id %>">
        <%% pokes.each(function (pokemon) { %>
          <option value="<%%= pokemon.id %>"
            <%% if (pokemon.id == toy.get("pokemon_id")){ %>
              selected
              <%% } %>>
            <%%= pokemon.get("name") %>
          </option>
        <%% }) %>

  </select>
</script>

<script type="text/template" id="pokemon-form-template">
</script>
